In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'E:/open_source'
file = 'PMJDY_25_05_2016.csv'
pmjdy = pd.read_csv(os.path.join(path, file))

In [3]:
pmjdy.describe()

,Rural,Urban,No Of Accounts,No Of Rupay Debit Card,Balance In Accounts(In crore),No Of Accounts With Zero Balance,Aadhaar Seeding
count,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
mean,6.736075e+07,4.228540e+07,1.096462e+08,9.007415e+07,1.902383e+06,2.813586e+07,5.017451e+07
std,5.893669e+07,4.402262e+07,1.021008e+08,8.538452e+07,1.774060e+06,2.629677e+07,4.918857e+07
min,5.014006e+06,3.101415e+06,8.115421e+06,7.636344e+06,1.415107e+05,3.068829e+06,3.209927e+06
25%,2.627512e+07,4.885688e+06,3.116081e+07,2.244318e+07,5.357224e+05,7.198828e+06,1.055325e+07
50%,6.485375e+07,4.073469e+07,1.055884e+08,8.625598e+07,1.831627e+06,2.660144e+07,4.856955e+07
75%,1.059394e+08,7.813440e+07,1.840738e+08,1.538869e+08,3.198288e+06,4.753847e+07,8.819082e+07
max,1.347215e+08,8.457079e+07,2.192923e+08,1.801483e+08,3.804765e+06,5.627171e+07,1.003490e+08

In [6]:
pmjdy.columns

Index([u'Bank Type', u'Rural', u'Urban', u'No Of Accounts',
       u'No Of Rupay Debit Card', u'Balance In Accounts(In crore)',
       u'No Of Accounts With Zero Balance', u'Aadhaar Seeding'],
      dtype='object')

In [7]:
pmjdy.head(5)

,Bank Type,Rural,Urban,No Of Accounts,No Of Rupay Debit Card,Balance In Accounts(In crore),No Of Accounts With Zero Balance,Aadhaar Seeding
0,Public Sector Bank,96345344,75988933,172334277,145133163,2996128.45,44627389,84138080
1,Regional Rural Bank,33362156,5480446,38842602,27378788,667126.33,8575494,13001019
2,Private Banks,5014006,3101415,8115421,7636344,141510.69,3068829,3209927
3,Grand Total,134721506,84570794,219292300,180148295,3804765.47,56271712,100349026

## Remove the grand total row

In [4]:
pmjdy = pmjdy[:pmjdy.shape[0]-1]

In [13]:
pmjdy.shape[0]

4

## Create additional features
Number of Rupay Debit Card - Rural, Urban<br>
Average Balance in Accounts(Crore) - Rural, Urban<br>
Number of Accounts with zero balance - Rural, Urban<br>
Number of Aadhaar seeding - Rural, Urban

In [22]:
pmjdy['No_RupayDebit_Rural'] = (1. * pmjdy['Rural'] * pmjdy['No Of Rupay Debit Card'] / pmjdy['No Of Accounts']).round()

In [24]:
pmjdy['No_RupayDebit_Urban'] = (1. * pmjdy['Urban'] * pmjdy['No Of Rupay Debit Card'] / pmjdy['No Of Accounts']).round()

In [37]:
pmjdy['Bal_Rural'] = (1. * pmjdy['Rural'] * pmjdy['Balance In Accounts(In crore)'] / pmjdy['No Of Accounts']).round()

In [38]:
pmjdy['Bal_Urban'] = (1. * pmjdy['Urban'] * pmjdy['Balance In Accounts(In crore)'] / pmjdy['No Of Accounts']).round()

In [50]:
#pmjdy['AvgBal_Rural'] = (10000000. * pmjdy['Bal_Rural'] / pmjdy['Rural']).round()

In [51]:
#pmjdy['AvgBal_Urban'] = (10000000. * pmjdy['Bal_Urban'] / pmjdy['Urban']).round()

In [41]:
pmjdy['No_AccZeroBal_Rural'] = (1. * pmjdy['Rural'] * pmjdy['No Of Accounts With Zero Balance'] / pmjdy['No Of Accounts']).\
                                round()

In [42]:
pmjdy['No_AccZeroBal_Urban'] = (1. * pmjdy['Urban'] * pmjdy['No Of Accounts With Zero Balance'] / pmjdy['No Of Accounts']).\
                                round()

In [43]:
pmjdy['No_AaadhaarSeeds_Rural'] = (1. * pmjdy['Rural'] * pmjdy['Aadhaar Seeding'] / pmjdy['No Of Accounts']).round()

In [44]:
pmjdy['No_AaadhaarSeeds_Urban'] = (1. * pmjdy['Urban'] * pmjdy['Aadhaar Seeding'] / pmjdy['No Of Accounts']).round()

In [45]:
#pmjdy.drop(['Percent_RupayDebitCard_Rural', 'Percent_RupayDebit_Urban'], axis=1, inplace=True)
#pmjdy.drop(['AvgBal_Rural', 'AvgBal_Urban'], axis=1, inplace=True)

In [52]:
pmjdy

,Bank Type,Rural,Urban,No Of Accounts,No Of Rupay Debit Card,Balance In Accounts(In crore),No Of Accounts With Zero Balance,Aadhaar Seeding,No_AaadhaarSeeds_Rural,No_AaadhaarSeeds_Urban,No_RupayDebit_Rural,No_RupayDebit_Urban,No_AccZeroBal_Rural,No_AccZeroBal_Urban,Bal_Rural,Bal_Urban,AvgBal_Urban,AvgBal_Rural
0,Public Sector Bank,96345344,75988933,172334277,145133163,2996128.45,44627389,84138080,47038305.0,37099775.0,81138267.0,63994896.0,24949425.0,19677964.0,1675018.0,1321110.0,173856.0,173856.0
1,Regional Rural Bank,33362156,5480446,38842602,27378788,667126.33,8575494,13001019,11166657.0,1834362.0,23515814.0,3862974.0,7365546.0,1209948.0,572999.0,94127.0,171751.0,171751.0
2,Private Banks,5014006,3101415,8115421,7636344,141510.69,3068829,3209927,1983211.0,1226716.0,4718015.0,2918329.0,1896036.0,1172793.0,87431.0,54080.0,174372.0,174374.0

## Reshape the data - wide to long

In [67]:
pmjdy_1 = pmjdy.ix[:,['Bank Type', 'Rural', 'Urban']]
pmjdy_1 = pd.melt(pmjdy_1, id_vars=['Bank Type'], value_vars=['Rural', 'Urban'], var_name='Location', value_name='#Accounts').sort_values('Bank Type')

In [76]:
pmjdy_2 = pmjdy.ix[:,['Bank Type', 'No_AaadhaarSeeds_Rural', 'No_AaadhaarSeeds_Urban']]
pmjdy_2.rename(columns={'No_AaadhaarSeeds_Rural': 'Rural', 'No_AaadhaarSeeds_Urban': 'Urban'}, inplace=True)
pmjdy_2 = pd.melt(pmjdy_2, id_vars=['Bank Type'], value_vars=['Rural', 'Urban'], var_name='Location', value_name='#AadhaarSeeds').sort_values('Bank Type')

In [78]:
pmjdy_3 = pmjdy.ix[:,['Bank Type', 'No_RupayDebit_Rural', 'No_RupayDebit_Urban']]
pmjdy_3.rename(columns={'No_RupayDebit_Rural': 'Rural', 'No_RupayDebit_Urban': 'Urban'}, inplace=True)
pmjdy_3 = pd.melt(pmjdy_3, id_vars=['Bank Type'], value_vars=['Rural', 'Urban'], var_name='Location', value_name='#RupayCards').sort_values('Bank Type')

In [81]:
pmjdy_4 = pmjdy.ix[:,['Bank Type', 'Bal_Rural', 'Bal_Urban']]
pmjdy_4.rename(columns={'Bal_Rural': 'Rural', 'Bal_Urban': 'Urban'}, inplace=True)
pmjdy_4 = pd.melt(pmjdy_4, id_vars=['Bank Type'], value_vars=['Rural', 'Urban'], var_name='Location', value_name='AccBal(Cr)').sort_values('Bank Type')

In [83]:
pmjdy_merge = [pmjdy_1, pmjdy_2, pmjdy_3, pmjdy_4]
pmjdy = reduce(lambda left, right: pd.merge(left, right, on=['Bank Type', 'Location']), pmjdy_merge)

In [255]:
pmjdy.to_csv(os.path.join(path, 'pmjdy.csv'), index=False)

## Read the temporal PMJDY files and insert the period of the file as the first column

In [87]:
file_jan = 'PMJDY_27_01_2016.csv'
file_feb = 'PMJDY_24_02_2016.csv'
file_mar = 'PMJDY_30_03_2016.csv'
file_apr = 'PMJDY_27_04_2016.csv'
file_may = 'PMJDY_25_05_2016.csv'
pmjdy_jan = pd.read_csv(os.path.join(path, file_jan))
pmjdy_jan.insert(0, 'Period', ['27-01-2016'] * pmjdy_jan.shape[0])
pmjdy_feb = pd.read_csv(os.path.join(path, file_feb))
pmjdy_feb.insert(0, 'Period', ['24-02-2016'] * pmjdy_feb.shape[0])
pmjdy_mar = pd.read_csv(os.path.join(path, file_mar))
pmjdy_mar.insert(0, 'Period', ['30-03-2016'] * pmjdy_mar.shape[0])
pmjdy_apr = pd.read_csv(os.path.join(path, file_apr))
pmjdy_apr.insert(0, 'Period', ['27-04-2016'] * pmjdy_apr.shape[0])
pmjdy_may = pd.read_csv(os.path.join(path, file_may))
pmjdy_may.insert(0, 'Period', ['25-05-2016'] * pmjdy_may.shape[0])

Convert the Balance in Accounts(in lacs) to in crores

In [88]:
pmjdy_jan['Balance in Accounts (In Crore)'] = pmjdy_jan['Balance in Accounts (in Lacs)'] / 100.
pmjdy_feb['Balance in Accounts (In Crore)'] = pmjdy_feb['Balance In Accounts(In Lacs)'] / 100.
#pmjdy_feb['Balance in Accounts (In Crore)'] = pmjdy_feb.ix[:, 6] / 100.
pmjdy_mar['Balance in Accounts (In Crore)'] = pmjdy_mar['Balance In Accounts(In Lacs)'] / 100.
#pmjdy_mar['Balance in Accounts (In Crore)'] = pmjdy_mar.ix[:, 6] / 100.

In [89]:
pmjdy_jan.drop(['Balance in Accounts (in Lacs)'], inplace=True, axis=1)
pmjdy_feb.drop(['Balance In Accounts(In Lacs)'], inplace=True, axis=1)
pmjdy_mar.drop(['Balance In Accounts(In Lacs)'], inplace=True, axis=1)

In [90]:
print pmjdy_jan.columns
print pmjdy_feb.columns
print pmjdy_mar.columns
print pmjdy_apr.columns
print pmjdy_may.columns

Index([u'Period', u'Bank Type', u'Rural', u'Urban', u'No of Accounts',
       u'No of Rupay Debit Card', u'No of Accounts with Zero Balance',
       u'Aadhaar Seeding', u'Balance in Accounts (In Crore)'],
      dtype='object')
Index([u'Period', u'Bank Type', u'Rural', u'Urban', u'No Of Accounts',
       u'No Of Rupay \nDebit Card', u'No Of Accounts With Zero Balance',
       u'Aadhaar Seeding', u'Balance in Accounts (In Crore)'],
      dtype='object')
Index([u'Period', u'Bank Type', u'Rural', u'Urban', u'No Of Accounts',
       u'No Of Rupay \nDebit Card', u'No Of Accounts With Zero Balance',
       u'Aadhaar Seeding', u'Balance in Accounts (In Crore)'],
      dtype='object')
Index([u'Period', u'Type', u'Rural', u'Urban', u'No. of Accounts',
       u'No. of Rupay Debit Cards', u'Balance in Accounts (in crore)',
       u'No. of Accounts with Zero Balance', u'Aadhaar Seeding'],
      dtype='object')
Index([u'Period', u'Bank Type', u'Rural', u'Urban', u'No Of Accounts',
       u'No Of Rupay Debit Card', u'Balance In Accounts(In crore)',
       u'No Of Accounts With Zero Balance', u'Aadhaar Seeding'],
      dtype='object')

In [91]:
pmjdy_feb.rename(columns={'No Of Rupay \nDebit Card': 'No of Rupay Debit Card', 
                          'No Of Accounts With Zero Balance': 'No of Accounts with Zero Balance',
                         'No Of Accounts': 'No of Accounts'}, inplace=True)
pmjdy_mar.rename(columns={'No Of Rupay \nDebit Card': 'No of Rupay Debit Card',
                         'No Of Accounts With Zero Balance': 'No of Accounts with Zero Balance',
                         'No Of Accounts': 'No of Accounts'}, inplace=True)
pmjdy_apr.rename(columns={'No. of Rupay Debit Cards': 'No of Rupay Debit Card',
                         'No. of Accounts with Zero Balance': 'No of Accounts with Zero Balance',
                         'No. of Accounts': 'No of Accounts',
                         'Balance in Accounts (in crore)': 'Balance in Accounts (In Crore)',
                         'Type': 'Bank Type'}, inplace=True)
pmjdy_may.rename(columns={'No Of Rupay Debit Card': 'No of Rupay Debit Card',
                         'No Of Accounts With Zero Balance': 'No of Accounts with Zero Balance',
                         'No Of Accounts': 'No of Accounts',
                         'Balance In Accounts(In crore)': 'Balance in Accounts (In Crore)'}, inplace=True)

## Replace inconsistent Bank Type values for Feb, Mar, and May

In [92]:
pmjdy_feb['Bank Type'].replace('Public Sector Bank', 'Public Sector Banks', inplace=True)
pmjdy_feb['Bank Type'].replace('Regional Rural Bank', 'Regional Rural Banks', inplace=True)

pmjdy_mar['Bank Type'].replace('Public Sector Bank', 'Public Sector Banks', inplace=True)
pmjdy_mar['Bank Type'].replace('Regional Rural Bank', 'Regional Rural Banks', inplace=True)

pmjdy_may['Bank Type'].replace('Public Sector Bank', 'Public Sector Banks', inplace=True)
pmjdy_may['Bank Type'].replace('Regional Rural Bank', 'Regional Rural Banks', inplace=True)

## After ensuring consistency in the column names, concatenate the files on the column axis

In [93]:
pmjdy_consolidate = pd.concat([pmjdy_jan.ix[0:2,], 
           pmjdy_feb.ix[0:2,],
           pmjdy_mar.ix[0:2,],
           pmjdy_apr.ix[0:2,],
           pmjdy_may.ix[0:2,]
           ], axis=0
           ).reset_index().drop(['index'], axis=1)

In [94]:
#pmjdy_consolidate.to_csv(os.path.join(path, 'pmjdy_consolidated.csv'), index=False)

## Create additional features
Number of Rupay Debit Card - Rural, Urban<br>
Average Balance in Accounts(Crore) - Rural, Urban<br>
Number of Accounts with zero balance - Rural, Urban<br>
Number of Aadhaar seeding - Rural, Urban

In [95]:
pmjdy_consolidate['No_RupayDebit_Rural'] = (1. * pmjdy_consolidate['Rural'] * pmjdy_consolidate['No of Rupay Debit Card'] / pmjdy_consolidate['No of Accounts']).round()

In [96]:
pmjdy_consolidate['No_RupayDebit_Urban'] = (1. * pmjdy_consolidate['Urban'] * pmjdy_consolidate['No of Rupay Debit Card'] / pmjdy_consolidate['No of Accounts']).round()

In [97]:
pmjdy_consolidate['Bal_Rural'] = (1. * pmjdy_consolidate['Rural'] * pmjdy_consolidate['Balance in Accounts (In Crore)'] / pmjdy_consolidate['No of Accounts']).round()

In [98]:
pmjdy_consolidate['Bal_Urban'] = (1. * pmjdy_consolidate['Urban'] * pmjdy_consolidate['Balance in Accounts (In Crore)'] / pmjdy_consolidate['No of Accounts']).round()

In [99]:
pmjdy_consolidate['No_AccZeroBal_Urban'] = (1. * pmjdy_consolidate['Urban'] * pmjdy_consolidate['No of Accounts with Zero Balance'] / pmjdy_consolidate['No of Accounts']).\
                                round()

In [100]:
pmjdy_consolidate['No_AccZeroBal_Rural'] = (1. * pmjdy_consolidate['Rural'] * pmjdy_consolidate['No of Accounts with Zero Balance'] / pmjdy_consolidate['No of Accounts']).\
                                round()

In [101]:
pmjdy_consolidate['No_AaadhaarSeeds_Rural'] = (1. * pmjdy_consolidate['Rural'] * pmjdy_consolidate['Aadhaar Seeding'] / pmjdy_consolidate['No of Accounts']).round()

In [102]:
pmjdy_consolidate['No_AaadhaarSeeds_Urban'] = (1. * pmjdy_consolidate['Urban'] * pmjdy_consolidate['Aadhaar Seeding'] / pmjdy_consolidate['No of Accounts']).round()

In [103]:
pmjdy_consolidate['Overall_Bal'] = (10000000. * pmjdy_consolidate['Balance in Accounts (In Crore)'] / pmjdy_consolidate['No of Accounts']).round()

In [105]:
pmjdy_consolidate.to_csv(os.path.join(path, 'pmjdy_consolidated.csv'), index=False)

In [108]:
pmjdy_consolidate

,Aadhaar Seeding,Balance in Accounts (In Crore),Bank Type,No of Accounts,No of Accounts with Zero Balance,No of Rupay Debit Card,Period,Rural,Urban,No_RupayDebit_Rural,No_RupayDebit_Urban,Bal_Rural,Bal_Urban,No_AccZeroBal_Urban,No_AccZeroBal_Rural,No_AaadhaarSeeds_Rural,No_AaadhaarSeeds_Urban,Overall_Bal
0,74948188,2.427731e+04,Public Sector Banks,160835981,51024535,138621275,27-01-2016,89537898,71298083,77170901.0,61450374.0,13515.0,10762.0,22619015.0,28405520.0,41723893.0,33224295.0,1509.0
1,10496171,5.358183e+03,Regional Rural Banks,36401999,9451369,26389394,27-01-2016,31248470,5153529,22653376.0,3736018.0,4600.0,759.0,1338056.0,8113313.0,9010200.0,1485971.0,1472.0
2,2409034,1.160971e+03,Private Banks,7440710,2956533,6971159,27-01-2016,4478240,2962470,4195638.0,2775521.0,699.0,462.0,1177124.0,1779409.0,1449893.0,959141.0,1560.0
3,78195032,2.609405e+04,Public Sector Banks,165252090,48592852,140821948,24-02-2016,92238015,73014075,78601953.0,62219995.0,14565.0,11529.0,21469999.0,27122853.0,43645769.0,34549263.0,1579.0
4,10956777,5.756437e+03,Regional Rural Banks,37211744,9118065,26653022,24-02-2016,31932869,5278875,22872012.0,3781010.0,4940.0,817.0,1293493.0,7824572.0,9402444.0,1554333.0,1547.0
5,2532482,1.224398e+03,Private Banks,7542706,2931522,7089897,24-02-2016,4537976,3004730,4265549.0,2824348.0,737.0,488.0,1167808.0,1763714.0,1523637.0,1008845.0,1623.0
6,80359651,2.813917e+04,Public Sector Banks,168457737,46735511,143155970,30-03-2016,94292464,74165273,80130063.0,63025907.0,15751.0,12389.0,20575795.0,26159716.0,44980478.0,35379173.0,1670.0
7,11629160,6.178119e+03,Regional Rural Banks,37928568,8780764,26935193,30-03-2016,32571057,5357511,23130525.0,3804668.0,5305.0,873.0,1240306.0,7540458.0,9986510.0,1642650.0,1629.0
8,2973423,1.354719e+03,Private Banks,7889169,3182525,7438509,30-03-2016,4843513,3045656,4566833.0,2871676.0,832.0,523.0,1228631.0,1953894.0,1825517.0,1147906.0,1717.0
9,81690617,2.896499e+04,Public Sector Banks,170431139,45547966,144179464,27-04-2016,95192409,75238730,80529829.0,63649635.0,16178.0,12787.0,20107658.0,25440308.0,45627382.0,36063235.0,1700.0
10,12022299,6.443290e+03,Regional Rural Banks,38324251,8617759,27185660,27-04-2016,32916141,5408110,23349367.0,3836293.0,5534.0,909.0,1216091.0,7401668.0,10325778.0,1696521.0,1681.0
11,3087822,1.387280e+03,Private Banks,7997133,3035039,7530737,27-04-2016,4924815,3072318,4637598.0,2893139.0,854.0,533.0,1165993.0,1869046.0,1901550.0,1186272.0,1735.0
12,84138080,2.996128e+06,Public Sector Banks,172334277,44627389,145133163,25-05-2016,96345344,75988933,81138267.0,63994896.0,1675018.0,1321110.0,19677964.0,24949425.0,47038305.0,37099775.0,173856.0
13,13001019,6.671263e+05,Regional Rural Banks,38842602,8575494,27378788,25-05-2016,33362156,5480446,23515814.0,3862974.0,572999.0,94127.0,1209948.0,7365546.0,11166657.0,1834362.0,171751.0
14,3209927,1.415107e+05,Private Banks,8115421,3068829,7636344,25-05-2016,5014006,3101415,4718015.0,2918329.0,87431.0,54080.0,1172793.0,1896036.0,1983211.0,1226716.0,174373.0

## Plot overall balance

In [106]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [122]:
bal_plot = pd.DataFrame({'Period': pmjdy_consolidate['Period'], 
                         'Balance': pmjdy_consolidate['Overall_Bal'], 
                         'Type': pmjdy_consolidate['Bank Type']
                        })
bal_plot.set_index('Period', inplace=True)

In [126]:
#fig, ax = plt.subplots(figsize=(8, 6))

In [127]:
#bal_plot.groupby('Type').plot()